html, body {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Verdana;
	font-size: 0.9em;
}

h1 {
	margin: 0px;
	padding: 0px;
}

h2 {
	margin: 0px;
	padding: 0px;
}

.chart_table {
	margin: 0px;
	padding: 0px;
	
	float: left;
	z-index: 0;
	
	background: #333;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.chart_table_item {
	margin: 0px;
	padding: 0px;
	
	width: 100%;
	height: 60px;
	
	float: left;
	position: relative;
	z-index: 2;
	
	border-top: thin solid #CCC;
	border-bottom: thin solid #CCC;
	background: white;
	
	cursor: pointer;
}

.position {
	margin: 0px 1px 0px 0px;
	padding: 5px 0px 0px 0px;
	
	width: 19px;
	height: 55px;
	
	float: left;
	position: relative;
	
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: #D70377;
}

.icon_container {
	-webkit-perspective: 1000;
}

.icon {
	margin: 0px 10px 0px 0px;
	padding: 0px;
	
	width: 60px;
	height: 60px;
	
	float: left;
	
	position: relative;
	top: 0px;
	left: 0px;
	
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
}

.icon_face {
	position: absolute;
	top: 0px;
	left: 0px;
	
	width: 60px;
	height: 60px;
	
	-webkit-backface-visibility: hidden;
}

.front {
	z-index: 2;
}

.back {
	z-index: 1;
	-webkit-transform: rotateY(180deg);
}

.item_short_description {
	margin: 0px;
	padding: 2px 0px 0px 5px;

	line-height: 135%;
}

.title {
	font-weight: bold;
	font-size: 1em;
}

.artist {
	font-size: 0.9em;
}

.album {
	font-style: italic;
	font-size: 0.9em;
}

.chart_table_item_details {
	margin: 0px;
	padding: 0px;
	
	width: 100%;
	height: 50px;
	
	float: left;
	position: relative;
	z-index: 1;
	
	color: #FFF;
	background: #333;
	
	-webkit-transition-property: top, height;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}

.inactive {
	top: -50px;
	height: 0px;
	border: none;
}

.chart_table_item_details ul {
	margin: 0px auto;
	padding: 0px;
	
	float: left;
	
	list-style-type: none;
}

.chart_table_item_details ul li {
	margin: 10px;
	padding: 0px;
	
	float: left;
}

.chart_table_item_details a {
	margin: 0px;
	padding: 2px 10px;
	
	width: auto;
	height: 20px;
	display: block;
	
	color: #555;
	/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00ABEB), color-stop(0.5, white), color-stop(0.5, #6C0), to(white)); */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(200, 200, 200)));
	border: 1px solid #555;
	text-align: center;
	text-decoration: none;
	
	-webkit-border-radius: 5px;
}

.chart_table_item_details a:hover,
.chart_table_item_details a:active {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(200,200,200)), to(rgb(255, 255, 255)));
}