<h1><%= @chart.title %></h1>

<% @chart_instances.each do |chart_instance| %>
<p>
	<%= link_to chart_instance.date.strftime("%B %d, %Y"), chart_chart_instance_path(chart_instance.chart, chart_instance) %>
</p>
<% end %>